<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>About Us<br></h1>
                        <p class="mb-0">Jabalpur, formerly known as Jubbulpore, is a vibrant city located on the banks
                            of the Narmada River in the state of Madhya Pradesh, India. Jabalpur was selected as one of
                            the first 7 smart cities in India under the Smart Cities Mission, aiming to improve
                            infrastructure and quality of life for its residents.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">About Us<br></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- About Us Section -->
    <section id="about-us" class="section about-us">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="assets/img/luvJbp.jpg" class="img-fluid border" alt="">
                </div>

                <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                    <h3>Jabalpur is a city rich in culture and tradition, reflecting a blend of various influences due
                        to its historical significance and diverse population.</h3>

                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span><b>Festivals:</b> The people of Jabalpur celebrate
                                a wide
                                range of festivals with great enthusiasm. Major festivals include Diwali, Holi,
                                Navratri, and Dussehra. The city also celebrates local festivals like Kartik Mela and
                                Narmada Jayanti, which are unique to the region.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span><b>Art and Craft:</b> Jabalpur is known for its
                                traditional handicrafts, including terracotta, wooden toys, and stone carvings. The city
                                has a vibrant artisan community that keeps these age-old crafts alive.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span><b>Cuisine:</b> The culinary traditions of Jabalpur
                                are a
                                mix of North Indian and Central Indian flavors. Popular dishes include poha, jalebi,
                                samosa, and a variety of street foods. The city is also known for its sweets and
                                traditional snacks.</span></li>
                    </ul>
                </div>

            </div>

        </div>

    </section><!-- /About Us Section -->

    <!-- Counts Section -->
    <section id="counts" class="section counts light-background">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1542000" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Population</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1854000" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Metropolitan population</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1388107" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Males</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1154893" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Females</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- /Counts Section -->

    <section id="celebs" class="section celebs">
        <div class="container section-title" data-aos="fade-up">
            <p>Popular faces from Jabalpur</p>
        </div>
        <div class="container">

            <div class="row gy-5">

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/team/arjun-rampal.jpg" class="img-fluid img-size" alt="">
                        <div class="social">

                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Arjun Rampal</h4>
                        <span>Actor</span>
                        <p>A well-known actor and model, Arjun Rampal was born in Jabalpur. He has appeared in numerous
                            Bollywood films and is also a producer and entrepreneur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/team/jaya-bacchan.jpg" class="img-fluid img-size" alt="">
                        <div class="social">

                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Jaya Bachchan</h4>
                        <span>Actress and Politician</span>
                        <p>The renowned actress and politician, Jaya Bachchan, was born in Jabalpur. She has had a
                            successful career in Bollywood and is also a member of the Rajya Sabha.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="assets/img/team/jennifer.jpg" class="img-fluid img-size" alt="">
                        <div class="social">

                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Jennifer Mistry Bansiwal</h4>
                        <span>Actress</span>
                        <p>An actress known for her roles in Bollywood films, Jennifer Mistry Bansiwal was born in
                            Jabalpur.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="assets/img/team/shaleen-bhanot.jpg" class="img-fluid img-size" alt="">
                        <div class="social">

                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Shaleen Bhanot</h4>
                        <span>TV Actor</span>
                        <p>A TV actor, Shaleen Bhanot, is another celebrity from Jabalpur.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
                    <div class="member-img">
                        <img src="assets/img/team/pragya.jpg" class="img-fluid img-size" alt="">
                        <div class="social">
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Pragya Jaiswal</h4>
                        <span>Actress<br></span>
                        <p>An actress who has worked in both Bollywood and regional cinema, Pragya Jaiswal was born in
                            Jabalpur.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
                    <div class="member-img">
                        <img src="assets/img/team/chetna.jpg" class="img-fluid img-size" alt="">
                        <div class="social">
                        </div>
                    </div>
                    <div class="member-info text-center">
                        <h4>Chetna Makan</h4>
                        <span>Youtuber & content creator</span>
                        <p>A well-known YouTube star and content creator, Chetna Makan has a large following for her
                            entertaining videos and vlogs.</p>
                    </div>
                </div>

            </div>

        </div>

    </section>

</main>