img {
  float: right;
  width: 350px;
  height: 250px;
  position: relative;
  background-color: var(--surface-color);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin-left: 10px;
}

img:hover {
  transform: scale(1.05);
}

// .history-content{
//   position: relative;
//   top: 20px;
// }
