<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a routerLink="/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt="logo"> -->
      <h1 class="sitename"><a routerLink="/" routerLinkActive="active">JABALPURIYA</a></h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/history" routerLinkActive="active">History</a></li>
        <li><a routerLink="/food" routerLinkActive="active">Food</a></li>
        <li><a routerLink="/sites" routerLinkActive="active">Sites</a></li>
        <li>
          <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer id="footer" class="footer position-relative light-background">
  <div class="container copyright text-center mt-4">
    <p>
      © <span>Copyright</span>
      <strong class="px-1 sitename">Jabalpuriya</strong>
      <span>All Rights Reserved</span>
    </p>
  </div>
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"
  (click)="scrollToTop($event)" [class.active]="scrollTopVisible"><i class="bi bi-arrow-up-short"></i></a>